
<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
      <mat-toolbar color="primary">
        <span>Menu</span>
        <span class="space"></span>

          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
      </mat-toolbar>
      <mat-list role="list">
        <a routerLink="./list" mat-list-item (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>label</mat-icon>
          Heroes list
        </a>
        <a routerLink="./add" mat-list-item (click)="sidenav.toggle()">
          <mat-icon  mat-list-icon>add</mat-icon>
          Add Heroe          
        </a>
        <a routerLink="./search" mat-list-item (click)="sidenav.toggle()">
          <mat-icon  mat-list-icon>search</mat-icon>
          Search Heroe          
        </a>
      </mat-list>
  </mat-sidenav>
    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>

        <span class="space"></span>

        <span>{{auth.user}}</span>
        
        <button mat-button (click)="logout()" >
            Logout
        </button>




    </mat-toolbar>
    <div class="container">
      <router-outlet></router-outlet>

    </div>
</mat-sidenav-container>
